# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Lock files
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Ignore override files as they are usually used for local settings
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore backup files
terraform.tfstate.backup

# Ignore crash log files
crash.log

# Ignore all .tfvars files, which are likely to contain sentitive data
*.tfvars

.envrc
.direnv
.DS_Store
.idea/